
/* Header */
.header {
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
}

.header::after {
	content: "";
	position: absolute;
	width: 101%;
	border-bottom: var(--border);
	top: 40px;
	left: -12px;
}

.header-dropdown {
	font-size: 1.6rem;
	z-index: 1;
	margin-left: 4px;
	position: relative;
}

.header-dropdown-top {
	cursor: pointer;
}

.header-dropdown:hover .header-dropdown-content {
	display: block;
}

.header-dropdown-btn {
	border: none;
	background-color: var(--white-color);
	font-size: 2rem;
	font-weight: 500;
}

.header-dropdown-btn:hover {
	cursor: pointer;
}

.header-dropdown-icon {
	color: var(--black-color);
}

.header-dropdown-icon:hover {
	cursor: pointer;
}

.header-dropdown-content {
	position: absolute;
	width: 100%;
	margin-left: 6px;
	border: var(--border);
	background-color: var(--white-color);
	box-shadow: var(--box-shadow);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	animation: fadeIn linear .3s;
	display: none;
}

.header-dropdown-item {
	height: 40px;
	display: block;
	color: var(--text-color);
	text-align: center;
	text-decoration: none;
	padding: 12px 0;
}

.header-dropdown-item_selected {
	color: var(--white-color);
	background-color: var(--default-color);
}

.header-dropdown-item_selected:hover {
	color: var(--white-color) !important;
	background-color: var(--default-color) !important;
}

.header-dropdown-item:hover {
	color: var(--textbody-color);
	background-color: #E9EBEE;
}

.header-infouser {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	width: 18%;
	margin-right: 8px;
}

.header-inforuser-name {
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 150px;
	justify-content: space-between;
}

.header-inforuser-name span {
	display: inline-block;
	font-size: 1.4rem;
	font-weight: 500;
	padding-bottom: 4px;
}

.header-inforuser-name-avatar {
	width: 28px;
}

.header-inforuser-option {
	cursor: pointer;
	position: relative;
}

.header-inforuser-option:hover .header-inforuser-option-content {
	display: block;
}

.header-inforuser-option-content {
	z-index: 1;
	background-color: var(--white-color);
	display: block;
	width: 160px;
	position: absolute;
	top: 28px;
	right: -6px;
	border: var(--border);
	border-radius: 2px;
	box-shadow: var(--box-shadow);
	display: none;
}

.header-inforuser-option-content::before {
	content: "";
	position: absolute;
	top: -24px;
	right: 2px;
	border-width: 12px;
	border-style: solid;
	border-color: transparent transparent #e2f3e3 transparent;
}

.header-inforuser-option-content::after {
	content: "";
	position: absolute;
	top: -16px;
	right: 0;
	width: 100px;
	height: 16px;
}

.header-inforuser-option-content-item {
	display: block;
	text-decoration: none;
	color: var(--text-color);
	padding: 6px 0;
	border-top: var(--border);
	font-size: 1.4rem;
}

.header-inforuser-option-content-item:hover {
	background-color: var(--default-color);
	color: var(--white-color);
}

.header-inforuser-option-content-item:first-child {
	border: none;
}